* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 11vh;
}

.backgroundImage {
    margin-top: -11vh;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
